

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
h1 {
  color: #76d1cb;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: left;
}

h2 {
  color: #76d1cb;
  font-family: "Open Sans", sans-serif;
}
h3 {
  color: #c19277;
  font-family: "Open Sans", sans-serif;
}
h4 {
  color: #91684a;
  font-family: "Open Sans", sans-serif;
}
h5 {
  color: #c19277;
  font-family: "Open Sans", sans-serif;
}

p {
  color: black;
  font-family: "Open Sans", sans-serif;
}


.footer {
  position: fixed;
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  color: #91684a;
}
.col {
  text-align: center;
}

.container  {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid #91684a ;
  padding: 50 px;
  border-radius: 10px;
 }
